@import '../utilities/variables';
@import '../utilities/mixins';

.AudioControls {
  position: relative;
  height: 56px;
  width: 50px;
  overflow: hidden;
  transition: height .2s ease,
              width .2s ease;
}

.AudioControls .AudioControls-playButton {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 36px;
  height: 36px;
  background-color: #E8E8E8;
  border-radius: 100%;
  position: absolute;
  left: 14px;
  top: 14px;
  transition: left .2s ease,
              top .2s ease,
              width .2s ease,
              height .2s ease,
              margin .2s ease,
              background-color .2s ease;

  /* Pause icon */
  svg.pause { display: none; }
}

/* Play icon */
.AudioControls .AudioControls-playButton svg.play {
  width: 12px;
  height: 14px;
  position: relative;
  right: -.125em;
  transition: right .2s ease,
              width .2s ease,
              height .2s ease;
}

/* Pause icon */
.AudioControls .AudioControls-playButton svg.pause {
  width: 12px;
  height: 14px;
  transition: width .2s ease,
              height .2s ease;
}


/* Playing state */
.AudioControls-playButton.is-playing {
  background-color: $brandColorPrimary;

  svg.play { display: none; }

  svg.pause { display: block; }
}

.AudioControls .AudioControls-skipBack,
.AudioControls .AudioControls-next {
  margin-left: 0;
  top: 0px;
  left: 50%;
  width: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;

  &:active {
    color: $brandColorPrimary;
    svg > path { fill: $brandColorPrimary; }
  }
}
