@import '../utilities/variables';
@import '../utilities/mixins';

.AudioControls {
  height: 36px;
  position: relative;
}

.AudioControls .AudioControls-next {
  width: 47px;
  height: 47px;
  background-color: #fff;
  border-radius: 100%;
  position: absolute;
  left: 50%;
  top: 0;
  transform: scale(.5, .5) translate(-280px, 10px);
  @media (min-width: 375px) { transform: scale(.5, .5) translate(-320px, 10px); }
  @media (min-width: 414px) { transform: scale(.5, .5) translate(-360px, 10px); }
  box-shadow: inset 0 0 0 2px $black;
  transition: transform .15s;

  > svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-44%, -50%);
  }

  &:active {
    box-shadow: inset 0 0 0 2px #fff;
    background-color: $black;
    > svg path { fill: #fff; }
  }
}

.AudioControls .AudioControls-skipBack {
  width: 47px;
  height: 47px;
  background-color: #fff;
  border-radius: 100%;
  position: absolute;
  left: 50%;
  top: 0;
  transform: scale(.5, .5) translate(-280px, 10px);
  @media (min-width: 375px) { transform: scale(.5, .5) translate(-320px, 10px); }
  @media (min-width: 414px) { transform: scale(.5, .5) translate(-360px, 10px); }
  box-shadow: inset 0 0 0 2px $black;
  transition: transform .15s;
  font-size: 12px;
  text-align: center;
  line-height: 56px;
  letter-spacing: -.035em;

  > svg {
    position: absolute;
    top: 9px;
    left: 21px;
  }

  &:active {
    box-shadow: inset 0 0 0 2px #fff;
    background-color: $black;
    color: #fff;
    > svg path { fill: #fff; }
  }
}

.AudioControls .AudioControls-playButton {
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(.36, .36) translate(-55px, -55px);
  box-shadow: inset 0 0 0 6px $black;
  z-index: 1;
  transition: transform .15s,
              background-color .15s,
              box-shadow .15s;
  &:active {
    transition: transform .2s;
    background-color: $black;
    box-shadow: inset 0 0 0 2px $black;
    > svg path { fill: #fff; }
  }
}

.AudioControls .AudioControls-playButton svg.play,
.AudioControls .AudioControls-playButton svg.pause {
  position: absolute;
  top: 50%;
  left: 50%;
}

/* Play icon */
.AudioControls .AudioControls-playButton svg.pause {
  transform: translate(-50%, -50%);
  opacity: 0;
}

/* Play icon */
.AudioControls .AudioControls-playButton svg.play {
  transform: translate(-35%, -50%) scale(1.3, 1.3);
  opacity: 1;
}

/* Playing state */
.AudioControls-playButton.is-playing {
  background-color: $brandColorPrimary;
  svg.play { transform: translate(-35%, -50%); opacity: 0; }
  svg.pause { transform: translate(-50%, -50%); opacity: 1;}
}

/* When Card is big */
.Card.is-big {
  .AudioControls {
    height: 190px;
  }

  .AudioControls .AudioControls-playButton {
    transform: scale(1, 1) translate(98px, 34px);
    box-shadow: inset 0 0 0 2px $black;
    @media (min-width: 375px) { transform: scale(1, 1) translate(117.5px, 34px); }
    @media (min-width: 414px) { transform: scale(1, 1) translate(137px, 34px); }

    svg.play {
      transform: translate(-35%, -50%) scale(1, 1);
    }

    &:active {
      box-shadow: inset 0 0 0 2px #fff;
    }
  }
  .AudioControls .AudioControls-next {
    transform: scale(1, 1) translate(68px, 60px);
  }
  .AudioControls .AudioControls-skipBack {
    transform: scale(1, 1) translate(-115px, 60px);
  }
}
