@import '../utilities/variables';
@import '../utilities/mixins';

.Card {
  margin-bottom: $spaceXs;
  margin-right: $spaceXs;
  margin-left: $spaceXs;
  min-height: 61px;
  @media (min-width: 375px) { margin-right: $spaceM; margin-left: $spaceM; }
}

.Card-inner {
  @include indentBox;
}

.Card-content {
  @include onBox;
  position: relative;
  min-height: 61px;
  transition: background-color .15s;
}

.Card-title {
  display: flex;
  align-items: center;
  max-width: 222px;
  min-height: 35px;
  transform: translate(60px, -26px);
  margin-bottom: -12px;
  transition: transform .15s;
  @media (min-width: 375px) { max-width: 261px; }
  @media (min-width: 414px) { max-width: 300px; }
}

/* Big state */
.Card.is-big {
  .Card-title {
    text-align: center;
    justify-content: center;
    transform: translate(37px, -33px);
  }
}

/* Card themes */
.Card--purple.is-big .Card-content { background-color: $purple; }
.Card--red.is-big .Card-content    { background-color: $red; }
.Card--aqua.is-big .Card-content   { background-color: $aqua; }
.Card--green.is-big .Card-content  { background-color: $green; }
.Card--blue.is-big .Card-content   { background-color: $blue; }
.Card--pink.is-big .Card-content   { background-color: $pink; }
.Card--yellow.is-big .Card-content { background-color: $yellow; }
.Card--teal.is-big .Card-content   { background-color: $teal; }
.Card--orange.is-big .Card-content { background-color: $orange; }
.Card--black.is-big .Card-content  { background-color: #fff; }
