@import '../utilities/variables';
@import '../utilities/mixins';

.Card {
  margin-bottom: $spaceXs;
  margin-right: $spaceM;
  margin-left: $spaceM;
}

.Card-inner {
  @include indentBox;
}

.Card-content {
  @include onBox;
  position: relative;
}
