@import '../utilities/variables';
@import '../utilities/mixins';

.Tabs {
  position: relative;
  margin-right: $spaceM;
  margin-left: $spaceM;
  margin-bottom: $spaceXs;
}

.Tabs .Tabs-inner {
  @include indentBox;
  display: flex;
}

.Tabs .Tabs-tab {
  width: 50%;
  height: 40px;
  color: #8D8D8D;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color .45s ease;
  text-decoration: none;
}

.Tabs .Tabs-highlighter {
  @include onBox;
  width: 50%;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: left .125s ease;
  box-shadow: 0 2px 0 0 #D8D8D8;
}

.Tabs.is-firstTabActive {
  .Tabs-highlighter { left: 0; }
  .Tabs-tab--first { color: $black; }
}

.Tabs.is-secondTabActive {
  .Tabs-highlighter { left: 50%; }
  .Tabs-tab--second { color: $black; }
}
