<h1>Create episode</h1>
<%= form_for @changeset, admin_episode_path(@conn, :create), fn f -> %>
  <%= render "fields.html", f: f %>
  <p><%= submit "Create episode", class: "btn btn-primary" %></p>
<% end %>
