$backgroundColor: #EFEFEF;
$brandColorPrimary: #FF5371;
$black: #000;
$fontSize: 15px;
$fontColor: #000;
$fontFamilyBold: 'akkurat bold', sans-serif;
$fontFamilyRegular: 'akkurat regular', sans-serif;

$spaceXs: 14px;
$spaceS:  18px;
$spaceM:  22px;
