$backgroundColor: #EFEFEF;
$brandColorPrimary: #FF5371;
$black: #000;
$fontSize: 15px;
$fontColor: #000;
$fontFamilyBold: 'akkurat bold', sans-serif;
$fontFamilyRegular: 'akkurat regular', sans-serif;

$spaceXs: 12px;
$spaceS:  18px;
$spaceM:  20px;


/* Theme colors */
$purple:     #9469FF;
$purpleDark: #6D43D4;

$red:        #FF5371;
$redDark:    #D7314E;

$aqua:       #00D3FF;
$aquaDark:   #00BCE4;

$green:      #19DEB4;
$greenDark:  #15BD99;

$blue:       #3D87FF;
$blueDark:   #1854B6;

$pink:       #FF5DB0;
$pinkDark:   #D94893;

$yellow:     #FFD95A;
$yellowDark: #FFBC48;

$teal:       #00B2BB;
$tealDark:   #00949B;

$orange:     #FF855D;
$orangeDark: #FF6840;
