@import 'basscss';
@import 'basscss-forms';
@import 'basscss-btn';
@import 'basscss-btn-primary';
@import 'basscss-colors';

body {
  font-family: -apple-system, 'BlinkMacSystemFont', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

form.link {
  display: inline-block;
}

.help-block {
  color: red;
}
